{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="heading-registration">
    <h1>Register</h1>
</div>
<div class="registration-form">

    {{ form_start(registrationForm) }}
       {{ form_row(registrationForm.email) }}
       {{ form_row(registrationForm.password) }}
     
        <div class="btn-registration-group">
            <a href="{{path('login')}}" class="registration-btn">Back to login</a>
            <button type="submit" class="btn">Register</button>
        </div>
   {{ form_end(registrationForm) }}
</div>
{% endblock %}
